.accordian{
    width: 84%;
   /* padding: 50px 150px; */

    h2{
        text-align: start;
        padding-top: 20px;
        padding-left: 150px;
        margin-bottom: 20px;
        color: #333;
    }
}